*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(images/portfolio_background.svg) center/cover no-repeat;
    font-size: 14px;
} 
.container{
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid black; */
}

/* header section */
.head_container{
    min-height: 4rem;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.logo{
    padding: 0 20px 0 20px;
}
.nav_links{
    padding: 0 20px 0 20px;
    /* border: 2px solid #f7f8f3; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 10px;
}
.links{
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    
}
.links:hover
{  
    background-color: #f8444f;
    border: none;
    transition:all .8ms ease ;
}
.links>a,
.icon_links/*footer section links*/>a{
    color:#012d3d;
    font-weight: 500;
    text-decoration: none;
}

/* profile section */
.profile_detaile{
    width: 100%;
    min-height: 80vh;
    border: 2px solid 
    yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;

}
.detaile{
    font-size: large;
    text-align: left;
    padding: 0 0 0 15em;
}
/* footer section */
.footer{
    min-height: 9vh;
    /* border: 2px solid brown; */
    display:flex ;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.social_links{
    width: 100%;
    display:flex ;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.button_1{
    border: none;
    padding: 10px;
    width: 7em;
    background-color: #012d3d;
    border-radius: 30px;
    color: #f8f6e7;
    font-weight: 500;
    letter-spacing: 1px;
}
span{
    text-transform: capitalize;
    color: #78bdc4;
    opacity: 50%;
}
